@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Baloo+2&display=swap');

html, body {
    margin: 0px;
    scroll-behavior: smooth;
}

.titlefont{
    font-family: 'Baloo 2', cursive;
}

.textfont{
    font-family: 'Amaranth', sans-serif;
}

.bluebackground{
    background-color: #0064FB;
}
.blackbackground{
    background-color: #000c1f;
    background-size: 150%;
}

body{
    background-color: #0064FB;
}

#mainimg{
    width: 60%;
}
.containerleft {
    float: left;
    padding: 15% 0 20% 15.43%;
    position: relative;
    color: aliceblue;
}

#maintitle {
    margin-bottom: 0;
    font-size: 35pt;
    line-height: 0.95;
}

#subtitle {
    margin-top: 0;
    font-size: 16pt;
}
#Serviços{
    width: 100%;
    padding-top: 3%;
    max-height: 50vw;
}
#teste{
    text-align: center;
    font-size: 220pt;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    transform: translateY(-180px);
    background: #00183F;
    background: linear-gradient(to right, #00183F 0%, #000C1F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#teste2{
    text-align: center;
    color: aliceblue;
    font-size: 30pt;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.container {
    display: flex;
    width: 100%;
    padding: 0 10% 4% 10%;
    box-sizing: border-box;
    height: 80vh;
    position: relative;
    transform: translateY(-320px);
}

.horizontal{
    height: 50vh;
}

.box {
    flex: 1;
    overflow: hidden;
    margin: 0 1%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.69);
    
}

.container2 {
    display: flex;
    width: 100%;
    padding: 0 10% 1.5% 10%;
    box-sizing: border-box;
    height: 50vh;
    position: relative;
    transform: translateY(-320px);
}


.container3 {
    display: flex;
    width: 100%;
    padding: 0 10% 1.5% 10%;
    box-sizing: border-box;
    height: 60vh;
    position: relative;
    transform: translateY(-320px);
}

#Portifolio{
    width: 100%;
    padding-top: 3%;
    max-height: 68vw;
}