@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Baloo+2&display=swap');

html, body {
    margin: 0px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #dadada;
}

.titlefont{
    font-family: 'Baloo 2', cursive;
}

.textfont{
    font-family: 'Amaranth', sans-serif;
}

.bluebackground{
    background-color: #0064FB;
}
.blackbackground{
    background-color: #000c1f;
    background-size: 150%;
}

body{
    background-color: #0064FB;
}

#mainimg{
    width: 60%;
}

.containerleft {
    float: left;
    padding: 15% 0 20% 15.43%;
    position: relative;
    color: aliceblue;
}

#maintitle {
    margin-bottom: 0;
    font-size: 35pt;
    line-height: 0.95;
}

#subtitle {
    margin-top: 0;
    font-size: 16pt;
}
#Serviços{
    width: 100%;
    padding-top: 3%;
    max-height: 50vw;
}
#teste{
    text-align: center;
    font-size: 220pt;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    transform: translateY(-180px);
    background: #00183F;
    background: linear-gradient(to right, #00183F 0%, #000C1F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#teste2{
    text-align: center;
    color: aliceblue;
    font-size: 30pt;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.container {
    display: flex;
    width: 100%;
    padding: 0 10% 4% 10%;
    box-sizing: border-box;
    height: 80vh;
    position: relative;
    transform: translateY(-320px);
}

.horizontal{
    height: 50vh;
}

.box {
    flex: 1;
    overflow: hidden;
    margin: 0 1%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.69);
    
}
#imgbox{
    padding: 20px;
    height: 60%;
    transform: translateX(10px);
    width: 75%;
    text-align: center;
}

#boxtext{
    color: #dadada;
    text-align: center;
}

.box h{
    font-weight: 600;
    font-size: 15pt;
    letter-spacing: 0.6pt;
}
.box p{
    line-height: 12pt;
}
.box a{
    font-weight: 600;
}

#imgbox.img1{
    width: 83%;
    transform: translateY(35px);
}

.container2 {
    display: flex;
    width: 100%;
    padding: 0 10% 1.5% 10%;
    box-sizing: border-box;
    height: 50vh;
    position: relative;
    transform: translateY(-320px);
}


.container3 {
    display: flex;
    width: 100%;
    padding: 0 10% 1.5% 10%;
    box-sizing: border-box;
    height: 55vh;
    position: relative;
    transform: translateY(-320px);
}

#Portifolio{
    width: 100%;
    padding-top: 3%;
    max-height: 68vw;
}

.box img{
    width: 100%;
}

.container3 .box, .container2 .box{
   border: 0px;
   background-color: #dadada;
   text-align: center;
}
.container3 .box img{
    width: 110%;
    transform: translateX(-15px);
}
.container3 .box img.avental{
    width: 140%;
    transform: translateX(-50px);
}
.container3 .box img.card{
    width: 190%;
    transform: translateX(-90px);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #dadada #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border-radius: 8px;
    border: 4px solid #ffffff;
  }

#seta{
    width: 16%;
    transform: translateX(-10px);
    padding-top: 40%;
}

.logo-container{
    max-width: 880px;
    margin: 0 auto;
    padding: 3% 0%;
}

.item img{
    width: 70%;
    transform: translateX(22%);
}

.container4 {
    display: flex;
    width: 80%;
    padding: 0 10% 1% 10%;
    box-sizing: border-box;
    height: 40vh;
    position: relative;
    text-align: center;
}
