@media screen and (max-width: 610px){

    .item-img > img {
        max-width: 100%;
    }

    #Sobre p {
        font-size: x-small;
    }

    nav > a#line{
        display: block;
    }

    a#line{
        margin: 20px 0;
    }
}

@media screen and (max-width: 400px){
    .flex.service > div, .flex.jobs > div {
        margin: 10px 35px;
    }

}