@media screen and (max-width: 700px){
    header{
        height: 13vh;
    }
    header.active1{
        height: 100vh;
        transition: .5s ease-in-out;
    }

    nav > #btn-mobile{
        display: flex;
        float: right;
        margin-right: 10%;
        cursor: pointer;
        font-size: 15pt;
        margin-top: 1.5%;
    }

    #hamburguer{
        color: #f5f5f5;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before{
        width: 20px;
        height: 2px;
        content: '';
        background: currentColor;
        display: block;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::after{
        transform: rotate(135deg);
        top: -7px;
    }

    #nav.active #hamburguer::before{
        transform: rotate(-135deg);
    }


    nav > a#line{
        display: block;
        margin: 0 0 40px 0;
        transition: .3s ease-in;
        height: 0vh;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active a#line{
        visibility: visible;
        height: 5vh;
    }

    #logo{
        right: 20%;
        margin: 0;
    }
}

@media screen and (max-width: 610px){

    .item-img > img {
        max-width: 100%;
    }

    #Sobre p {
        font-size: x-small;
    }
}


@media screen and (max-width: 400px){
    .flex.service > div, .flex.jobs > div {
        margin: 10px 35px;
    }

    .item-text.main {
        margin-top: 15%;
        text-align: left;
    }

}